<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crud.mapper.EmloyeeMapper">
   <insert id="save">
      insert into employee(name,password,email,age) values(#{name},#{password},#{email},#{age})
   </insert>
   <delete id="delete">
      delete from employee where id = #{id}
   </delete>
   <update id="update">
     update employee set name=#{name} where id = #{id}
   </update>
   <select id="get" resultType="Employee">
      select * from employee where id = #{id}
   </select>
    <select id="listAll" resultType="Employee">
      select * from employee 
   </select>
</mapper>